# Should be here until Nuxt issue https://github.com/nuxt/framework/issues/5411 is resolved
shamefully-hoist=true

# do not automatically install peer-dependencies and suppress warnings with them
auto-install-peers=false
strict-peer-dependencies=false

# Required to enforce the `engines` versions provided in the `package.json`
engine-strict=true
